.letter_row {
    display: flex;
    justify-content: center;
    gap: var(--cell-gap);
}

.letter_cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--cell-size);
    height: var(--cell-size);

    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    
    user-select: none;
}

.right_place {
    background-color: var(--cell-right);
}

.contains {
    background-color: var(--cell-contains);
}

.wrong {
    background-color: var(--cell-wrong);
}

.unsubmitted {
    background-color: black;
    box-shadow: inset 0 0 0 2px var(--cell-border);
}