@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
    margin: 0;
    background-color: var(--main-color);

    font-family: Arial;
    color: var(--main-text-color)
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

img {
    user-select: none;
}