.main {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 50px;
}

.main > span {
    display: flex;
    align-items: center;
    font-size: 14px;

    height: 100%;
    padding: 0 15px;
    border-radius: 5px;

    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    background-color: rgb(146, 146, 146);
}

@keyframes keyboardKeyShine {
    from {
        filter: brightness(1.07);
    }
    50% {
        filter: brightness(1.14);
    }
    to {
        filter: brightness(1.07);
    }
}
.main > span:hover {
    /* background-color: rgb(136, 136, 136); */
    animation: keyboardKeyShine 700ms linear infinite;
}