.main {
    display: flex;
    justify-content: center;
    gap: 6px;
    height: 50px;
}

.main > span {
    display: flex;
    align-items: center;
    font-size: 14px;

    height: 100%;
    padding: 0 15px;

    text-transform: uppercase;
    background-color: grey;
}