.main {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 50px;
}

.main > span {
    display: flex;
    align-items: center;
    font-size: 14px;

    height: 100%;
    padding: 0 15px;
    border-radius: 5px;

    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    background-color: rgb(132, 132, 132);
}

.main > span:hover {
    filter: brightness(1.1)
}
.main > span:active {
    filter: brightness(0.8)
}

.right {
    background-color: var(--cell-right) !important;
}

.wrong {
    background-color: var(--cell-wrong) !important;
}